.navbar{

  background-color:  #ff1a75;
  padding-top: 5px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #999;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px 0 #999;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #99c2ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
